@use 'sass:color';
/**/

$mobile: 570;
$tablette: 960;
$desktop: 1460;
$tv: 'taille XL';
$breakpoints: (
    mobile: $mobile,
    tablette: $tablette,
    desktop: $desktop,
);

$black: black;
$black1: color.adjust($black, $lightness: 10%);
$black2: color.adjust($black, $lightness: 20%);
$black3: color.adjust($black, $lightness: 30%);
$black5: color.adjust($black, $lightness: 50%);

$black: black;
$white: white;
$dark: #eaeaea;
$dark1: #f6f6f6;
$dark2: color.adjust($dark, $lightness: 20%);
$dark3: color.adjust($dark, $lightness: 30%);
$dark5: color.adjust($dark, $lightness: 50%);

$shadow0: 8px 25px 45px -12px rgba(94, 94, 94, 0.62);
$shadow0_: 8px 25px 45px -0px rgba(94, 94, 94, 1);
$shadow1: 8px 8px 45px -12px rgba(94, 94, 94, 0.62);
$shadow2: 0px 5px 30px -10px rgb(94 94 94 / 62%);

$shadow-box-1: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);

$shadow-text-1: 2px 2px 4px rgba(0, 0, 0, 0.45);

// -----Fonts-----

$font-size-responsive-header1: clamp(0.6rem, 0.9vw, 2rem);
$font-size-responsive-header2: clamp(0.5rem, 1vw, 0.8rem);
$font-size-responsive-header3: clamp(0.3rem, 1.5vw, 0.7rem);

$font-size-responsive-hero1: clamp(1.2rem, 4vw, 4rem);
$font-size-responsive-hero2: clamp(0.6rem, 1.5vw, 1.1rem);
$font-size-responsive-hero3: clamp(0.6rem, 1.5vw, 1.2rem);

$font-size-responsive-row1: clamp(0.8rem, 1.4vw, 2rem);

$font-margin-right-responsive-header1: clamp(10px, 1.3vw, 20px);

// -----Logo-----

$logo-width-responsive-header1: 100px;
$logo-width-responsive-header2: clamp(50px, 8vw, 100px);
$logo-width-responsive-header3: clamp(20px, 13vw, 80px);

$logo-margin-right-responsive-header1: clamp(10px, 3vw, 30px);

// -----Header-----

$header-padding-responsive-left-and-right1: clamp(10px, 4vw, 50px);
$header-padding-responsive-left-and-right2: clamp(15px, 4vw, 50px);
$header-padding-responsive-left-and-right3: clamp(15px, 4vw, 50px);
$header-padding-responsive-top-and-bottom1: clamp(35px, 2.5vw, 50px);
$header-padding-responsive-top-and-bottom2: clamp(25px, 2vw, 50px);
$header-padding-responsive-top-and-bottom3: clamp(25px, 2.5vw, 50px);

$header-elements-margin1: 0 7px;
$header-elements-margin-left-and-right1: 7px;

// -----Hero-----

$gap-responsive-hero1: clamp(0.5rem, 2vw, 1.5rem);
$padding-responsive-cta1: clamp(0.5rem, 3vw, 1.5rem);

$padding-responsive-cta-top-bottom1: clamp(0.2rem, 1vw, 0.6rem);
$padding-responsive-cta-left-right1: clamp(1.5rem, 1.5vw, 1.5rem);

$height-responsive-cta-icon1: clamp(1rem, 4vw, 2rem);

// -----colors test-----

$color-test1: red;
$color-test2: blue;
$color-test3: green;

// -----Icons-----

$icon-size-1: 1rem;
