/**/

header.header {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    color: white;
    z-index: 10;
    padding: var(--header-padding);

    height: 0;
    .header__logo-container {
        margin-right: $logo-margin-right-responsive-header1;

        a.header__logo-link {
            background-color: blue;
            img.header__logo {
                z-index: 10;
                position: relative;
                object-fit: cover;
                aspect-ratio: 16 / 9;
                @include from-desktop {
                    width: 100px;
                }
                @include tablette-only {
                    width: $logo-width-responsive-header2;
                }
                @include mobile-only {
                    width: $logo-width-responsive-header3;
                }
            }
        }
    }

    menu.header__menu {
        z-index: 10;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
        width: 100%;
        // @include mobile-and-tablette {
        //     justify-content: flex-end;
        // }
        .profile__avatar-container {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: calc($header-elements-margin-left-and-right1 * 2);
            cursor: pointer;
            z-index: 10;
            .profile__avatar {
                position: relative;
                z-index: 10;
                width: 35px;
                border-radius: 5px;
                cursor: pointer;
            }
            .caret {
                font-size: $icon-size-1;
                @include mobile-and-tablette {
                    display: none;
                }
            }
        }
        .responsive-menu__button-container {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc($header-elements-margin-left-and-right1);
            cursor: pointer;
            z-index: 10;
            width: 3.5rem;
            @include from-desktop {
                font-size: $font-size-responsive-header1;
            }
            @include tablette-only {
                font-size: $font-size-responsive-header2;
            }
            @include mobile-only {
                font-size: $font-size-responsive-header3;
            }
        }
        ul.header__menu-navlinks-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            white-space: nowrap;
            padding: 0;
            margin: 0;
            width: fit-content;
            gap: calc($header-elements-margin-left-and-right1 * 2);
            li.header__menu-navlinks-item {
                @include from-desktop {
                    font-size: $font-size-responsive-header1;
                }
                @include tablette-only {
                    font-size: $font-size-responsive-header2;
                }
                @include mobile-only {
                    font-size: $font-size-responsive-header3;
                }
            }
            // @include mobile-and-tablette {
            //     display: none;
            // }
        }
        .header__right-part {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            white-space: nowrap;
            gap: calc($header-elements-margin-left-and-right1 * 2);
            a.header__icon {
                width: 20px;
            }
            h2 {
                @include from-desktop {
                    font-size: $font-size-responsive-header1;
                }
                @include mobile-and-tablette {
                    display: none;
                }
            }
        }
    }
}
